.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: rgb(255, 255, 255);
  border-radius: 8px;
  width: 500px;
  height: 520px;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popup-header h2 {
  font-size: 20px;
  color: black;
  font-weight: 600;
  padding-left: 10px;
}

.listicon1 {
  cursor: pointer;
}
.line1 {
  width: auto;
  padding: 0;
  margin: 0;
  height: 1px;
  background-color: #0000001a;
}
.form-group input {
  margin-bottom: 5px;
  margin-top: 10px;
  height: 28px;
  width: 480px;
  background-color: #f1f1f15c;
  border: 1px solid #00000021;
  padding-left: 10px;
  color: black;
  border-radius: 8px;
  margin-left: 10px;
}
.form-group textarea {
  height: 80px;
  width: 480px;
  background-color: #f1f1f15c;
  border: 1px solid #00000021;
  padding-left: 10px;
  padding-top: 4px;
  border-radius: 8px;
  color: black;
  margin-top: 10px;
  margin-left: 10px;
}

.word-count {
  font-size: 12px;
  color: gray;
}
.contentsshow {
  display: flex;
  justify-content: space-between;
}
.form-group1 {
  text-align: left;
}
.form-group2 {
  text-align: left;
}
.form-group3 {
  text-align: left;
}
.form-group4 {
  margin-top: 30px;
  text-align: left;
}
.form-group1 label {
  padding-left: 10px;
  font-size: 12px;
  color: black;
}
.form-group2 label {
  font-size: 12px;
  color: black;
}
.form-group3 label {
    font-size: 12px;
  color: black;
}

.form-group1 button {
  width: 70px;
  height: fit-content;
  margin-top: 5px;
  font-size: 10px;
  color: black;
  background: rgb(209, 209, 209);
  background-color: #f1f1f15c;
  border: 1px solid #00000021;
}
.form-group2 input {
  margin-top: 5px;
  height: 28px;
  border-radius: 8px;
  background: transparent;
  background-color: #f1f1f15c;
  border: 1px solid #00000021;
  width: 140px;
  padding-left: 10px;
  padding-right: 3px;
  color: black;
  font-size: 12px;
}

.form-group3 select {
  margin-top: 5px;
  margin-right: 10px;
  height: 28px;
  width: 120px;
  background-color: #f1f1f15c;
  border: 1px solid #00000021;
  font-size: 12px;
}
.form-group4 .Attachment {
  font-size: 12px;
  color: black;
  position: relative;
  padding-right: 410px;
  text-align: left;
}

.boxinside {
  margin-top: 3px;
  height: 30px;
  width: 480px;
  border-radius: 8px;
  background-color: #f1f1f15c;
  border: 1px solid #00000021;
  font-size: 12px;
  padding-top: 5px;
}
.boxinside label span {
  color: blue;
  text-decoration: underline;
}
.endbuttons {
  margin-top: 24%;
  height: 63px;
  width: auto;
  padding-top: 12px;
  background-color: #f1f1f15c;
  border: 1px solid #00000021;
  padding-left: 250px;
  font-size: 14px;
  border-radius: 0px 0px 10px 10px;
}
.endbuttons button {
  width: 102px;
  height: 35px;
  padding-top: 5px;
}
.endbuttons .cancelbutton1 {
  background-color: white;
  border: 1px solid #00000021;
  color: black;
}

@media screen and (max-width: 470px) {
  .popup-content {
    background: rgb(255, 255, 255);
    border-radius: 20px;
    width: 366px;
    height: 550px;
    margin-right: 53px;
    position: absolute;
    top: 70px;
    left: 40px;
    padding-top: 5px;
  }
  .form-group input {
  margin-bottom: 5px;
  margin-top: 10px;
  height: 38px;
  width: 340px;
  background-color: #f1f1f15c;
  border: 1px solid #00000021;
  padding-left: 10px;
  color: black;
  border-radius: 8px;
}
.form-group textarea {
  height: 80px;
  width: 340px;
  background-color: #f1f1f15c;
  border: 1px solid #00000021;
  padding-left: 10px;
  padding-top: 4px;
  border-radius: 8px;
  color: black;
  margin-top: 10px;
}
.boxinside {
  margin-top: 120px;
  height: 30px;
  width: 340px;
  border-radius: 8px;
  background-color: #f1f1f15c;
  border: 1px solid #00000021;
  font-size: 12px;
  padding-top: 5px;
}
.endbuttons {
  height: 63px;
  width: 367px;
  padding-top: 12px;
  background-color: #f1f1f15c;
  border: 1px solid #00000021;
  margin-top: 26px;
  font-size: 14px;
  border-radius:  0 0 20px 20px;
  
  
}
.endbuttons .createbutton1 {
    top: 500px;
  width: 102px;
  height: 35px;
  padding-top: 5px;
  
}
.endbuttons .cancelbutton1 {
  background-color: white;
  border: 1px solid #00000021;
  color: black;
  width: 102px;
  height: 35px;
  top: 500px;
  left: 260px;
}
.form-group1 button {
  width: 61px;
  height: fit-content;
  margin-top: 5px;
  font-size: 10px;
  position: relative;
  top: 1%;
  left: 200px;
  color: black;
  background: rgb(209, 209, 209);
  background-color: #f1f1f15c;
  border: 1px solid #00000021;
  
}
.form-group2 input{
  margin-top: 2px;
  height: 28px;
  border-radius: 8px;
  background: transparent;
  background-color: #f1f1f15c;
  border: 1px solid #00000021;
  width: 140px;
  padding-left: 10px;
  padding-right: 3px;
  color: black;
  font-size: 12px;
  display: flex;
  position: absolute;
  top: 50%;
  left: 15px;
}
.form-group2 label{
    position: absolute;
  top: 47%;
  left: 15px;
}

.form-group3 select {
  margin-top: 2px;
  margin-right: 10px;
  height: 28px;
  width: 120px;
  background-color: #f1f1f15c;
  border: 1px solid #00000021;
  font-size: 12px;
  position: absolute;
  top: 63%;
  left: 15px;
  
}
.form-group3 label {
position: absolute;
  top: 60%;
  left: 15px;
}
.form-group4 .Attachment {
  font-size: 12px;
  color: black;
  position: relative;
  padding-right: 410px;
  text-align: left;
  top: 120px;
}
.contentsshow {
 display: flex;
 justify-content: left;
  
}
}
